<!DOCTYPE html>


<html>
	<header>
		<title> ViTech Visual </title>
		<!-- STUFF YOU NEED FOR MATERIALIZE BELOW -->
		<!-- <link rel="stylesheet" href = "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.css"> -->
		<!-- <link rel="stylesheet" href="../static/css/home.css"> -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.css" type="text/css"/>
	</header>


	<body>
	<h1> Hello World </h1>
	<div>
		<input type="button" value="Search" class="search"/>
	</div>
	<div class="graph">
		
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://d3js.org/d3.v4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.2/require.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.js"></script>
	<script src="../static/js/main.js"> </script>
	</body>

</html>
